@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  font-family: sans-serif;
}

.intro {
  height: 100vh;
}

.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
}

section {
  height: 100vh;
  color: black;
}

section h1 {
  padding-top: 300px;
  text-align: center;
  font-size: 80px;
}
.future{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.contain{
  background-color: #d8bfd8;
}

.logo{
  margin-top: 50px;
  margin-left: 50px;
  /* background-color: #4158D0; */
  height: 50px;
  width: 100px;
}
.nmelo{
  display: flex;
}
.nk{
  margin-top: 20vh;
  margin-left: 30vw;
}
.amax{
  margin-top: -130px;
  margin-left: -70px;
}
.cont{
  display: flex;
}
.shoes{
  width: 50vw;
  height: 50vw;
  margin-top: -150px;
  margin-left: 30vw;
}
.c1{
  border-radius: 50%;
  background-color: #c54b8c;
  width: 35vw;
  height: 35vw;
  margin-left: 38vw;
  margin-top: -80vh;
  box-shadow: 120px 0px 0px 15px #000;
             
}

.txt{
  margin-right: 1150px;
  margin-top: -250px;
  font-weight: 600;
  font-size: 20px;
  text-align:right ;
}
.price{
  margin-left: 50px;
  margin-top: 65px;
  font-weight: 600;
  font-size: 30px;
}
footer{
  margin-top: 9vw;
  background-color: #702963;
  height: 20vw;
}
.last{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fot{
  width: 70vw;
  padding: 60px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
.cnt{
  font-weight: 600;
  margin-left: 35vw;
}




